.app-bo {

    .pointer {
        cursor: pointer;
    }

    label.error {
        margin: 0;
        color: red;
        font-weight: normal;
        font-size: 14px;
    }

    .dropzone {
        border-radius: 20px;
    }

    .owl-carousel-container {
        position: relative;
        .next { 
            position: absolute;
            top: 40%;
            right: 3%;
            z-index: 2;
            color: #797878;
            cursor: pointer;
        }
        
        .prev { 
            position: absolute;
            top: 40%;
            left: 3%;
            z-index: 2;
            color: #797878;
            cursor: pointer;
        }
    }


}